<h2 id="product-name"><%= @product.name %></h2>
<h4>Cost: <%= @product.cost%></h4>
<h4>Country of Origin: <%= @product.country_of_origin%></h4>
<div class="row">
  <div class="col-md-6">
    <% if @product.reviews.any? %>
      <h3>Reviews</h3>
      <hr>

      <% @product.reviews.each do |review| %>
        <ul>
          <li>
            <%= link_to review.content_body, product_review_path(@product, review) %> <p id="author">Author: <%= review.author %></p>
          </li>
        </ul>
      <% end %>
    <% else %>
      <p>No reviews have been published for this product!</p>
    <% end %>
  </div>
  <div class="col-md-6">
    <div id="edits" class="panel">
      <h4 class="panel-heading">Edits</h4>
      <div class="panel-body">
        <p><%= link_to "Want to add a Review?", new_product_review_path(@product) %></p>
        <p><%= link_to "Delete", product_path(@product), :data => {:confirm => "You sure?", :method => "Delete"} %></p>
        <p><%= link_to "Edit Product Details", edit_product_path(@product)%>
        <p><%= link_to "View all products", products_path%></p>
        <p><%= link_to "Return to Home Page", root_path%></p>
    </div>
  </div>
</div>